@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 18px;
  line-height: 1.42857143;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

@font-face {
  font-family: FuturaDemic;
  src: local("FuturaDemic"), url(../fonts/FuturaDemic.otf);
}

.regular, body, .vbtn, .vmain-form input, .icon-title {
  font-family: FuturaDemic;
}

@font-face {
  font-family: FuturaBold;
  src: local("FuturaBold"), url(../fonts/FuturaBold.otf);
}

.bold, .vtitle-big, .recepy-holidays-total, .vmodal-title {
  font-family: FuturaBold;
}

@font-face {
  font-family: DigitalBold;
  src: local("DigitalBold"), url(../fonts/DigitalBold.ttf);
}

.digital_bold, .timer-time {
  font-family: DigitalBold;
}

/* ===================== 
Start: COLUMNS      
======================== */
.vak-xs-1 {
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.vak-xs-2 {
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.vak-xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

.vak-xs-4 {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.vak-xs-5 {
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.vak-xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.vak-xs-7 {
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.vak-xs-8 {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.vak-xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

.vak-xs-10 {
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.vak-xs-11 {
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.vak-xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .vak-sm-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-sm-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .vak-sm-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-sm-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .vak-sm-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-sm-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .vak-sm-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-sm-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .vak-md-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-md-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .vak-md-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-md-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .vak-md-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-md-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .vak-md-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-md-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .vak-lg-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-lg-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .vak-lg-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-lg-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .vak-lg-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-lg-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .vak-lg-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-lg-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.vhidden,
.vvisible-lg,
.vvisible-md,
.vvisible-sm,
.vvisible-xs,
.vvisible-exs {
  display: none !important;
}

@media (min-width: 1200px) {
  .vhidden-lg {
    display: none !important;
  }
  .vvisible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vhidden-md {
    display: none !important;
  }
  .vvisible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vhidden-sm {
    display: none !important;
  }
  .vvisible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .vhidden-xs {
    display: none !important;
  }
  .vvisible-xs {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .vvisible-exs {
    display: block !important;
  }
}

/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, .vcontainer, .vcontainer-small, .cf, .footer, .vtabs-wrap, .vtabs-links, .vtabs-content, .vsection, .vnav li a, .header, .vbtn, .list li, .vtabs-list a {
  position: relative;
}

.vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small, .vmain-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .vcontainer:after, .vcontainer-small:after, .footer:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after, .cf:before, .vcontainer:before, .vcontainer-small:before, .footer:before, .vtabs-wrap:before, .vtabs-links:before, .vtabs-content:before {
  content: "";
  display: table;
}

.cf:after, .vcontainer:after, .vcontainer-small:after, .footer:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after {
  clear: both;
}

.vrow {
  margin-left: -15px;
  margin-right: -15px;
}

.flex, .vrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-j-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class*="vak"] {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .vcontainer {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .vcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}

@media (min-width: 1025px) {
  .vcontainer-small {
    width: 970px;
  }
}

.vsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vpull-left {
  float: left;
}

.vpull-right {
  float: right;
}

.block-inline, img, .vnav-text, .vbtn, .vmain-form input {
  display: inline-block;
}

.vnav-logo {
  font-size: 0;
}

.vnav-text {
  font-size: 22px;
  color: #fac900;
}

.vnav-text-inner {
  display: block;
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .vnav-wrap-fixed .vnav-text {
    position: absolute;
    top: 40px;
    right: 0;
    min-width: 180px;
    padding: 15px;
    background-color: #1d1d1d;
    border-top: 4px solid #221e1f;
    -webkit-transform: translateZ(0) translateX(120%);
            transform: translateZ(0) translateX(120%);
    font-size: 14px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .vnav-wrap-fixed .vnav-text.active {
    -webkit-transform: none;
            transform: none;
  }
  .vnav-wrap-fixed .vnav-text-toggle span {
    background-color: white;
  }
  .vnav-wrap-fixed .vnav-text-toggle {
    display: block;
    cursor: pointer;
  }
  .vnav-wrap-fixed .vnav-text-toggle span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .vnav-wrap-fixed .vnav-text-toggle span:last-child {
    margin-right: 0;
  }
  .vnav-logo img {
    vertical-align: middle;
    max-height: 28px;
  }
}

@media (min-width: 1025px) {
  .vnav-text-toggle, .vnav-text-hidden {
    display: none;
  }
}

.vnav-logo, .vnav-wrap-fixed .vnav, .vnav li a:after, .vnav-btn, .vnav-btn .lines, .vnav-btn .lines span {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.vnav-wrap-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.vnav li {
  display: block;
}

.vnav li a {
  color: inherit;
}

.vnav-btn {
  margin-right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.vnav-btn, .vnav-btn .lines, .vnav-btn .text {
  display: inline-block;
  vertical-align: middle;
}

.vnav-btn .lines {
  position: relative;
  width: 24px;
  height: 20px;
}

.vnav-btn .lines span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

.vnav-btn .lines span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: 3px 5px;
          transform-origin: 3px 5px;
}

.vnav-btn .lines span:nth-child(2) {
  top: 8px;
  opacity: 1;
}

.vnav-btn .lines span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: 1px -1px;
          transform-origin: 1px -1px;
}

.vnav-btn .text {
  margin-left: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.vnav-btn.active .lines span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.vnav-btn.active .lines span:nth-child(2) {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: 0;
}

.vnav-btn.active .lines span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .vnav-wrap-fixed, .vnav-wrap-fixed .vnav {
    position: fixed;
    left: 0;
    background-color: #1d1d1d;
  }
  .vnav-wrap-fixed + .main-wrapper {
    margin-top: 56px;
  }
  .vnav-wrap-fixed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 56px;
    left: 0;
    top: 0;
    padding: 11px 0;
    z-index: 10;
  }
  .vnav-wrap-fixed-container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .vnav-wrap-fixed .vnav-logo-inner {
    display: none;
  }
  .vnav-wrap-fixed .vnav-container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .vnav-wrap-fixed .vnav {
    width: 270px;
    height: 100%;
    padding: 0 0 100px 0;
    top: 56px;
    z-index: 1;
    overflow-y: auto;
    -webkit-transform: translateZ(0) translateX(-120%);
            transform: translateZ(0) translateX(-120%);
  }
  .vnav-wrap-fixed .vnav-active {
    -webkit-transform: none;
            transform: none;
  }
  .vnav-wrap-fixed li a {
    color: #fff;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
  }
  .vnav-wrap-fixed li.active a {
    background-color: #2a2a2a;
  }
}

@media (min-width: 1025px) {
  .vnav-wrap-fixed .vnav-logo {
    opacity: 0;
    visibility: hidden;
  }
  .vnav-wrap-fixed .vnav-logo img {
    max-height: 40px;
  }
  .vnav-wrap-fixed li a {
    color: #fff;
  }
  .vnav-wrap-fixed.active {
    background-color: #fff;
    box-shadow: 0px 3px 10px 1px rgba(13, 13, 17, 0.14);
  }
  .vnav-wrap-fixed.active li a {
    color: #333;
  }
  .vnav-wrap-fixed.active .vnav-logo {
    opacity: 1;
    visibility: visible;
  }
  .vnav li {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
  }
  .vnav li a:after {
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    border-radius: 20px;
    background-color: #fac900;
    opacity: 0;
    -webkit-transform: scaleX(0) translateY(15px);
            transform: scaleX(0) translateY(15px);
  }
  .vnav li a:hover:after {
    opacity: 1;
    -webkit-transform: scaleX(1) translateY(0);
            transform: scaleX(1) translateY(0);
  }
  .vnav-wrap:after, .vnav-wrap:before {
    content: "";
    display: table;
  }
  .vnav-wrap:after {
    clear: both;
  }
  .vnav-btn {
    display: none;
  }
}

.header {
  overflow: hidden;
  min-height: 50px;
  z-index: 1;
  color: #fff;
  padding-top: 23px;
  padding-bottom: 120px;
  background: url("../img/header.jpg") 0 0 no-repeat;
  background-size: cover;
}

.header-logo {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.header-date {
  font-size: 36px;
  line-height: 1;
}

.header-information {
  margin-top: 25px;
  margin-bottom: 34px;
}

.header-man, .header-rocket {
  position: absolute;
}

.header-man {
  font-size: 0;
}

.header-rocket {
  z-index: -1;
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 350px;
  }
  .header-man {
    right: 0;
    bottom: -500px;
    max-width: 250px;
  }
  .header-rocket {
    right: 0;
    bottom: -440px;
    max-width: 350px;
  }
  .header-logo {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .header-date, .header-place {
    display: inline-block;
    vertical-align: middle;
  }
  .header-date {
    margin-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-man {
    width: 300px;
    bottom: -190px;
    right: -100px;
  }
  .header-rocket {
    width: 350px;
    right: -150px;
    top: 60px;
  }
}

@media (min-width: 1025px) {
  .header-text {
    margin-top: 60px;
  }
  .header-man {
    right: -46px;
    bottom: -238px;
  }
  .header-rocket {
    right: -155px;
    top: 90px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .header-man {
    width: 350px;
  }
  .header-rocket {
    right: -35px;
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .header-date {
    font-size: 48px;
  }
  .header-text {
    padding-left: 80px;
  }
}

.footer {
  padding: 10px 15px;
  background-color: #131313;
}

.transition, .vbtn, .vbtn:before, .vmain-form input, .vmain-form-line, .icon-image img, .video-button, .sliderBig .slick-arrow, .vtabs-list a, .vtabs-list a:after {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.pseudo, .vnav li a:after, .gradient-fluid:after, .vbtn:before, .vmain-form-input-wrap:after, .list li:after, .video-button:after, .sliderBig .slick-arrow:after, .vtabs-list a:after {
  content: "";
  position: absolute;
}

.vertical-image:before, .icon-image-inner:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vertical-image img, .icon-image-inner img {
  max-height: 100%;
  vertical-align: middle;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.text-small {
  font-size: 11px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.color-main {
  color: #fac900;
}

.gradient-fluid {
  position: relative;
  z-index: 1;
}

.gradient-fluid:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: -webkit-linear-gradient(35deg, rgba(18, 21, 54, 0.43), rgba(10, 181, 196, 0.43) 47%, rgba(104, 134, 156, 0.43) 82%);
  background-image: linear-gradient(55deg, rgba(18, 21, 54, 0.43), rgba(10, 181, 196, 0.43) 47%, rgba(104, 134, 156, 0.43) 82%);
}

.vbtn {
  min-width: 200px;
  max-width: 100%;
  padding: 15px 25px;
  overflow: hidden;
  border: none;
  border-radius: 30px;
  z-index: 1;
  font-size: 16px;
}

.vbtn:before {
  z-index: -1;
}

@media (min-width: 480px) {
  .vbtn {
    font-size: 18px;
    padding: 20px 45px;
  }
}

.vbtn-effect {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.vbtn-effect-skew:before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.vbtn-effect-skew:hover:before {
  height: calc(450% - 40px);
  opacity: 1;
}

.vbtn-effect-bgtransition:before, .vbtn-effect-shutter:before, .vbtn-effect-shutter-vertical-out:before, .vbtn-effect-shutter-horizontal-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vbtn-effect-shutter-vertical-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.vbtn-effect-shutter-vertical-out:hover:before, .vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.vbtn-effect-shutter-horizontal-out:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.vbtn-effect-shutter-horizontal-out:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.vbtn-effect-bounce-top:before {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.vbtn-effect-bounce-bottom:before {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.vbtn-main {
  color: #15134c;
  background-color: #fac900;
  box-shadow: -9px 5px 9px rgba(13, 13, 17, 0.14);
}

.vbtn-main:hover {
  box-shadow: none;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.vbtn-main:before {
  background-color: #ffdb48;
}

.vbtn-single-description {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .vbtn-single {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .vbtn-single {
    margin-top: 35px;
  }
}

.vmain-form {
  width: 100%;
}

@media (min-width: 768px) {
  .vmain-form-fixed-width {
    width: 300px;
  }
}

.vmain-form input {
  border: none;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  color: #000;
  font-size: 15px;
  outline: none;
}

.vmain-form [type="submit"] {
  width: 100%;
}

.vmodal .vmain-form {
  color: rgba(0, 0, 0, 0.1);
}

.vmodal .vmain-form [type="submit"] {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  background-color: transparent;
  font-size: 20px;
  color: inherit;
  text-transform: uppercase;
  outline: none;
}

.vmodal .vmain-form [type="submit"]:hover, .vmodal .vmain-form [type="submit"]:focus {
  border-color: #ED2553;
  color: #ED2553;
}

.vmain-form-row {
  position: relative;
  margin-top: 15px;
}

.vmain-form-row:first-child {
  margin-top: 0;
}

.vmain-form-line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #ED2553;
}

input:focus + .vmain-form-line {
  width: 100%;
}

.vmain-form-input-wrap:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 480px) {
  .vmain-form-btn-wrap {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .vmain-form-row {
    margin-top: 30px;
  }
}

.list li:after {
  top: 0;
}

.list-check-yellow li:after {
  background: url("../img/check-yellow.png") 0 0 no-repeat;
  background-size: cover;
}

.list-check-yellow li {
  padding-left: 30px;
  margin-bottom: 20px;
}

.list-check-yellow li:last-child {
  margin-bottom: 0;
}

.list-check-yellow li:after {
  left: 0;
  top: 5px;
  width: 18px;
  height: 16px;
}

.vcollapse-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.vcollapse-wrap > .vcollapse-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.vcollapse-header {
  cursor: pointer;
  padding: 15px;
  background-color: #ddd;
}

.vcollapse-inner {
  margin-bottom: 30px;
}

.vcollapse-inner.active .vcollapse-header {
  background-color: #f00;
}

.vcollapse-body {
  margin-top: 7.5px;
  display: none;
}

.vtitle {
  margin-bottom: 40px;
  line-height: 1.15;
  font-size: 30px;
  color: #275384;
}

@media (min-width: 1025px) {
  .vtitle {
    font-size: 48px;
  }
}

.vtitle-small {
  margin: 12px 0;
  font-size: 18px;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .vtitle-small {
    font-size: 24px;
  }
}

.vtitle-small-big {
  font-size: 18px;
}

@media (min-width: 768px) {
  .vtitle-small-big {
    font-size: 30px;
  }
}

.vtitle-big {
  line-height: 1.1;
  font-size: 30px;
  margin: 12px 0;
}

@media (min-width: 480px) {
  .vtitle-big {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .vtitle-big {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .vtitle-big {
    font-size: 74px;
  }
}

@media (max-width: 767px) {
  .vtitle-big {
    margin: 20px 0;
  }
}

@media (min-width: 1025px) {
  .vtitle {
    margin-bottom: 60px;
  }
}

.text-tu {
  text-transform: uppercase;
}

.text-du {
  text-decoration: underline;
}

.text-dn, .vnav li a, .vbtn {
  text-decoration: none;
}

.text-center, .vtitle {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (min-width: 1200px) {
  .min-lg-right {
    text-align: right;
  }
}

@media (min-width: 1025px) {
  .min-md-right {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .min-sm-right {
    text-align: right;
  }
}

@media (min-width: 480px) {
  .min-xs-right {
    text-align: right;
  }
}

@media (min-width: 320px) {
  .min-exs-right {
    text-align: right;
  }
}

.timer {
  text-align: center;
}

.timer-section {
  padding-bottom: 0;
}

.timer-absolute {
  position: absolute;
  top: -74px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.timer-absolute .timer-title {
  color: #fff;
}

.timer-absolute .timer-inner {
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 13px;
}

.timer-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.timer-time {
  font-size: 36px;
  color: #fac900;
  line-height: 1;
}

.timer-block {
  display: inline-block;
  vertical-align: middle;
  min-width: 80px;
}

.timer-block span {
  display: block;
}

.timer-sign {
  font-size: 13px;
}

@media (max-width: 767px) {
  .timer-section {
    padding-top: 150px;
  }
  .timer-absolute {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .timer-block {
    margin-bottom: 5px;
  }
}

@media (min-width: 1025px) {
  .timer-section {
    padding-top: 97px;
  }
}

.icon-image-inner {
  display: inline-block;
  height: 130px;
}

.icon-header {
  margin-bottom: 15px;
}

.icon-title {
  font-size: 24px;
}

.icon-text-big .icon-title {
  color: #275384;
}

.icon-wrap-margin {
  margin-bottom: 30px;
}

.icon-wrap-margin:last-child {
  margin-bottom: 0;
}

.icon-hover:hover .icon-image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 767px) {
  .icon-text-big {
    text-align: center;
    margin-bottom: 30px;
  }
  .icon-text-big:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .icon-left .icon-image,
  .icon-left .icon-title {
    display: inline-block;
    vertical-align: middle;
  }
  .icon-left .icon-title {
    margin-left: 15px;
  }
  .icon-text-big .icon-title {
    font-size: 23px;
  }
  .icon-wrap-margin {
    margin-bottom: 50px;
  }
}

@media (min-width: 1025px) {
  .icon-text-big .icon-title {
    font-size: 30px;
  }
  .icon-text-big .icon-body {
    padding-right: 55px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.recepy-holidays {
  color: #fff;
  border-radius: 6px;
  background: url("../img/recepy.jpg") 0 0 no-repeat;
  background-size: cover;
}

.recepy-holidays-total {
  margin-top: 15px;
  padding-left: 30px;
  font-size: 21px;
}

.recepy-conf {
  background: url("../img/conf.jpg") 0 0 no-repeat;
  background-size: cover;
}

.recepy-conf .vtitle, .recepy-conf-title {
  color: #fac900;
}

.recepy-conf .vtitle {
  margin-bottom: 10px;
}

.recepy-conf .vbtn-single {
  margin-top: 30px;
}

.recepy-conf-title {
  font-size: 30px;
}

.recepy-conf-text {
  color: white;
}

.recepy-conf-image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.recepy-spiker {
  color: #fff;
  background: url("../img/spiker.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.recepy-spiker-title {
  margin-bottom: 35px;
}

.recepy-value {
  color: #fff;
  background: url("../img/value.jpg") 0 0 no-repeat;
  background-size: cover;
}

.recepy-title {
  text-align: left;
  margin-bottom: 35px;
  color: #fff;
}

.recepy-title-small {
  margin-bottom: 35px;
}

.recepy-wrap {
  padding: 45px 15px;
  margin-bottom: 45px;
}

.recepy-recom {
  border: 4px solid #275384;
}

.recepy-warning {
  display: inline-block;
  padding: 15px;
  border: 4px solid #fac900;
  border-radius: 6px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .recepy-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }
  .recepy-conf {
    padding-bottom: 150px;
  }
  .recepy-conf-image {
    right: 0;
    left: auto;
    width: 75px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
}

@media (min-width: 768px) {
  .recepy-wrap {
    padding: 60px 30px;
  }
  .recepy-holidays {
    margin-bottom: 50px;
  }
  .recepy-recom {
    margin-bottom: 70px;
  }
  .recepy-spiker-title {
    font-size: 24px;
    line-height: 1.2;
  }
  .recepy-warning {
    padding: 10px 30px;
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .recepy-conf-image {
    width: 140px;
  }
  .recepy-conf-text-wrap {
    padding-left: 130px;
  }
}

@media (min-width: 1025px) {
  .recepy-conf-text-wrap {
    padding-left: 205px;
  }
  .recepy-conf-title {
    font-size: 48px;
  }
  .recepy-conf-text {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .recepy-wrap {
    padding: 40px 70px;
  }
  .recepy-conf {
    padding-left: 30px;
    padding-right: 30px;
  }
  .recepy-recom {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.for-who-inner {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .for-who-wrap {
    margin-bottom: 45px;
  }
  .for-who-wrap:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .for-who-inner .icon-title {
    min-height: 90px;
  }
}

@media (min-width: 1025px) {
  .for-who-inner {
    margin-bottom: 45px;
  }
}

.country-buildings {
  position: absolute;
  right: 15px;
  bottom: -103px;
  font-size: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .country-buildings-title {
    font-size: 36px;
  }
}

.programm {
  color: white;
  background-image: -webkit-linear-gradient(35deg, #121536 49%, #0ab5c4 100%);
  background-image: linear-gradient(55deg, #121536 49%, #0ab5c4 100%);
}

.programm-title {
  color: inherit;
}

.programm-header {
  height: 100px;
}

.programm-header:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.programm-number, .programm-date, .programm-time-title {
  display: inline-block;
  vertical-align: middle;
}

.programm-number {
  min-width: 80px;
  color: #fac900;
  font-size: 60px;
  margin-right: 15px;
}

.programm-date {
  font-size: 24px;
  line-height: 1.1;
}

.programm-body {
  min-height: calc(100% - 100px);
  border: 2px solid #201358;
  border-radius: 6px;
  padding: 30px 15px;
}

.programm-body li {
  margin-bottom: 7.5px;
}

.programm-body li:last-child {
  margin-bottom: 0;
}

.programm-time {
  text-align: center;
}

.programm-flex {
  min-height: calc(100% - 100px);
}

@media (min-width: 768px) {
  .programm {
    padding: 60px;
  }
  .programm-body {
    padding: 25px 30px;
  }
  .programm-list .programm-header {
    padding-left: 60px;
  }
}

.extra-title {
  color: #201358;
  margin-bottom: 10px;
}

.extra-row {
  margin-bottom: 15px;
}

.extra-row:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .extra-row {
    margin-bottom: 45px;
  }
  .extra-title {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .extra-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .extra-row:nth-child(even) .extra-image {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1025px) {
  .extra-text {
    font-size: 24px;
  }
}

.video {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.video-image {
  font-size: 0;
}

.video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #fac900;
  border: none;
  outline: none;
  text-indent: -9999px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-button:hover {
  background-color: #ffdb48;
}

.video-button:after {
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -9.5px;
  border: 11px solid transparent;
  border-left: 15px solid #fff;
}

.video-wrap {
  margin-bottom: 30px;
}

.video-wrap:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .video {
    max-height: 200px;
  }
}

@media (min-width: 768px) {
  .video {
    height: 300px;
  }
  .video-image {
    position: absolute;
  }
}

.why-section {
  padding-bottom: 0;
}

.sliderBig .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 56px;
  height: 70px;
  z-index: 1;
  background-color: #275384;
  text-indent: -9999px;
  border: none;
}

.sliderBig .slick-arrow:hover {
  background-color: #3878bf;
}

.sliderBig .slick-arrow:after {
  left: 50%;
  top: 50%;
  width: 21px;
  height: 36px;
  margin-left: -10.5px;
  margin-top: -18px;
  background: url("../img/slickArrow.png") 0 0 no-repeat;
  background-size: cover;
}

.sliderBig .slick-prev {
  left: 15px;
}

.sliderBig .slick-next {
  right: 15px;
}

.sliderBig .slick-next:after {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-clock-o:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.vmodal, .vmodal-dialog, .showing, .vmodal-backdrop {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.vmodal, .vmodal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vmodal {
  padding: 15px;
  overflow: hidden;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.vmodal-open .vmodal {
  overflow-x: hidden;
  overflow-y: auto;
}

.vmodal-dialog {
  position: relative;
  outline: 0;
}

.vmodal-box {
  padding: 40px 30px;
  border-radius: 10px;
  background-color: white;
}

.vmodal-backdrop {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.vmodal-header, .vmodal-body, .vmodal-footer {
  position: relative;
}

.vmodal-header:after, .vmodal-header:before, .vmodal-body:after, .vmodal-body:before, .vmodal-footer:after, .vmodal-footer:before {
  content: "";
  display: table;
}

.vmodal-header:after, .vmodal-body:after, .vmodal-footer:after {
  clear: both;
}

.vmodal-body {
  font-size: 15px;
}

.vmodal-body-inner {
  height: 350px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 6px;
}

.vmodal-body-inner p {
  margin-bottom: 15px;
}

.vmodal-body-inner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .vmodal-body-inner {
    padding: 0 30px;
    height: 400px;
  }
}

.vmodal-close {
  display: block;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.vmodal-close:hover {
  color: #ED2553;
}

.vmodal-title {
  position: relative;
  margin-bottom: 30px;
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.1;
  color: #ED2553;
}

.vmodal-title:after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 5px;
  height: 100%;
  background-color: #ED2553;
}

.vmodal-transparent {
  background-color: rgba(0, 0, 0, 0.9);
}

.vmodal-transparent .vmodal-box {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.vmodal-transparent .vmodal-close {
  color: #fff;
}

@media (min-width: 768px) {
  .vmodal-transparent .vmodal-close {
    top: -15px;
    font-size: 60px;
  }
}

.vmodal-transparent .vmodal-title {
  padding-left: 30px;
}

.vmodal-transparent .vmodal-title:after {
  left: 0;
}

@media (min-width: 768px) {
  .vmodal-transparent .vmodal-title {
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .vmodal-transparent .vmodal-title {
    font-size: 19px;
    padding-right: 40px;
    margin-bottom: 15px;
  }
}

.vmodal-video {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .vmodal-video {
    margin-top: 30px;
  }
}

.vmodal-iframe {
  display: block;
  width: 100%;
  min-height: 300px;
}

@media (min-width: 480px) {
  .vmodal-dialog-default {
    max-width: 460px;
  }
  .vmodal-box {
    padding: 60px 50px 40px 50px;
  }
  .vmodal-title {
    font-size: 28px;
  }
  .vmodal-title:after {
    left: -50px;
  }
}

@media (max-width: 767px) {
  .vmodal-dialog {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .vmodal-dialog-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .vmodal-dialog.big {
    width: 600px;
    margin: 30px auto;
  }
}

.showing, .vmodal, .vmodal-backdrop {
  opacity: 0;
  visibility: hidden;
}

.showing-in {
  opacity: 1;
  visibility: visible;
}

/* ===================== 
Start: ANIMATIONS      
======================== */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* =====================
End:  ANIMATIONS
======================== */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.vtabs-links {
  margin-bottom: 45px;
  text-align: center;
}

.vtabs-list {
  display: inline-block;
  font-size: 0;
}

.vtabs-list a {
  display: block;
  min-width: 150px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.vtabs-list a:after {
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(-7.5px);
          transform: translateY(-7.5px);
}

.vtabs-list li {
  display: block;
}

.vtabs-list a:hover, .vtabs-list li.active a {
  color: #fac900;
}

.vtabs-list a:hover:after, .vtabs-list li.active a:after {
  background-color: #ffdb48;
  -webkit-transform: none;
          transform: none;
}

.vtabs-content-inner {
  display: none;
}

.vtabs-content-inner.active {
  display: block;
}

@media (min-width: 768px) {
  .vtabs-list {
    padding-bottom: 10px;
    border-bottom: 5px solid #f3f3f3;
  }
  .vtabs-list li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .vtabs-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
