.vmain-form{
	width: 100%;
	@extend .center-block;
	@include resp-min(sm){
		&-fixed-width{
			width: 300px;
		}
	}
	input{
		border: none;
		border-radius: 5px;
		text-align: left;
		width: 100%;
		max-width: 100%;
		padding: 20px 50px;
		color: #000;
		font-size: 16px;
		outline: none;
		@extend .block-inline;
		@extend .light;
		@extend .transition;
		&::-webkit-input-placeholder{
      color: setColor(dark);
    }
    &:-moz-placeholder {
      color: setColor(dark);
    }
    &::-moz-placeholder {
      color: setColor(dark);
    }
    &:-ms-input-placeholder {
      color: setColor(dark);
    }
	}
	[type="submit"]{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		&:hover{
			transform: none;
			background-color: setColor(main, light);
		}
	}
	&-row{
		position: relative;
		margin-top: 15px;
		&:first-child{
			margin-top: 0;
		}
	}
	&-btn-wrap{
		margin-top: 30px;
	}
	&-icon{
		&:after{
			@extend .pseudo;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
		&.name{
			&:after{
				width: 24px;
				height: 24px;
				@include bg('../img/name.png');
			}
		}
		&.phone{
			&:after{
				width: 24px;
				height: 25px;
				@include bg('../img/phone.png');
			}
		}
	}
	@include resp-min(xs){
		&-btn-wrap{
			margin-top: 45px;
		}
		[type="submit"]{

		}
	}
}