extends includes/layout
block title
	title Main Page
block content
	header.header#header
		ul#intro.header-background
			li.layer.background(data-depth="0.4"): img(src="img/header.jpg")
		.vcontainer
			.vrow
				.header-logo: img(src="img/logo.png")
				.vak-xs-12.vak-md-7.header-text
					h2.vtitle-small 5-я, юбилейная конференция <span class="text-du">Visotsky Consulting</span>
					h1.vtitle-big Стратегическое управление
					h2.vtitle-small-big 6 шагов стремительного <br class="vvisible-xs">движения вверх
					.header-information
						p.header-date 29.04 – 5.05
						p.header-place.vtitle-small Рас-эль-Хайма (ОАЭ)
					+button("vbtn vbtn-main", "#modalform") <span class="text-du">Забронировать</span> место на конференции
			ul#scene.header-scene
				li.layer.header-man(data-depth="0.6"): img(src="img/man.png")
				li.layer.header-rocket(data-depth="0.9"): img(src="img/rocket.png")
	section.vsection.timer-section
		.timer.timer-absolute
			p.timer-title Внимание! Осталось:
			.timer-inner
				.timer-block
					span.timer-time.afss_day_bv 05
					span.timer-sign Дней
				.timer-block
					span.timer-time.afss_hours_bv 12
					span.timer-sign Часов
				.timer-block
					span.timer-time.afss_mins_bv 30
					span.timer-sign Минут
				.timer-block
					span.timer-time.afss_secs_bv 00
					span.timer-sign Секунд
		.vcontainer
			h3.vtitle <span class="color-main">100+ выпускников</span> Школы Владельцев Бизнеса соберутся вместе, чтобы:
			.vrow.text-center
				+iconDefault('img/friend.png') Встретить <br>старых друзей
				+iconDefault('img/znaniya.png') Получить продвинутые<br> знания
				+iconDefault('img/family.png') Провести время<br> с семьей
				+iconDefault('img/meet.png') Завести новые<br> знакомства
				+iconDefault('img/business.png') Взглянуть на бизнес<br> со стороны
				+iconDefault('img/rest.png') Отдохнуть с<br> единомышленниками
	section.vsection
		.vcontainer
			.recepy-wrap.recepy-holidays.gradient-fluid
				h3.vtitle.recepy-title.recepy-holidays-title Мы изобрели рецепт идеальных майских праздников, которые Вы запомните надолго
				p.vtitle-small-big.recepy-title-small Способ приготовления:
				.vrow
					.vak-xs-12.vak-md-8.vak-lg-7
						ul.list.list-check.list-check-yellow
							li Берем главный ингредиент - Александра Высоцкого и лучших консультантов и сотрудников Visotsky Consulting
							li Добавляем 100+ участников, которые проходили ШВБ, но, к сожалению, редко видятся из-за дефицита времени и больших расстояний
							li Вывозим их подальше (ОАЭ) и размещаем в один из лучших отелей мира (Hilton 5*)
							li Добавляем обучение на закрытых семинарах, круглые столы, личное общение с Александром Высоцким и консультантами Visotsky Consulting
							li Разбавляем все это неформальным общением, волейболом, водным поло, квестом, пробежками, экскурсиями по вкусу
							li Обязательно берем с собой жен и детей. Для них организована отдельная развлекательная и обучающая программа и ВУАЛЯ!...
						p.recepy-holidays-total Идеальные Майские праздники готовы!
			.recepy-wrap.recepy-recom
				h3.vtitle Рецепт рекомендуется к приему <br> только если Вы:
				.vrow.flex-j-between
					.vak-xs-12.vak-sm-6.vak-md-5.icon-wrap.icon-hover.icon-text-big.icon-left
						.icon-inner
							.icon-header
								.icon-image: .icon-image-inner: img(src="img/vup.png")
								p.icon-title Выпускник <br> ШВБ
							.icon-body
								p За время обучения Вы обзавелись отличными друзьями и партнерами, но видеться практически не получается… пора бы это исправить!
					.vak-xs-12.vak-sm-6.vak-md-5.icon-wrap.icon-hover.icon-text-big.icon-left
						.icon-inner
							.icon-header
								.icon-image: .icon-image-inner: img(src="img/girl.png")
								p.icon-title Вторая половинка <br> владельца бизнеса
							.icon-body
								p Вы планируете семейный отдых на Майские, но не знаете как совместить отдых и качественное обучение в компании предпринимателей
				.vbtn-single.text-center
					+button("vbtn vbtn-main", "#modalform") Забронировать место на конференции
			.recepy-wrap.recepy-conf.gradient-fluid
				h3.vtitle Эта конференция - как встреча одноклассников.
				h3.vtitle Только у каждого есть свой бизнес <br>с миллионными оборотами
				.recepy-conf-text-wrap
					p.recepy-conf-title Факт
					p.recepy-conf-text 9 из 10 участников конференции - выпускники ШВБ со всего СНГ. Не упустите отличный шанс пообщаться в неформальной обстановке, встретить старых друзей и приобрести новых
					.vbtn-single.text-right
						+button("vbtn vbtn-main", "#modalform") Я хочу на конференцию
				img(src="img/hand.png").recepy-conf-image
	section.vsection
		.vcontainer
			h3.vtitle Это мероприятие, на котором <br>каждому есть чем заняться:
			.vrow.for-who
				.vak-xs-12.vak-sm-4.for-who-wrap
					.for-who-inner.icon-hover.icon-text-big.text-center
						.icon-inner
							.icon-image
								.icon-image-inner: img(src="img/vup.png")
							p.icon-title Для Вас
					ul.list.list-check-yellow
						li Уникальные семинары от Александра Высоцкого
						li Круглые столы и мозговые штурмы
						li Неформальное общение с другими участниками
						li Личные консультации от консультантов Visotsky Consulting
						li Встреча и отдых со 100+ выпускниками ШВБ
						li Грандиозный гала-ужин по окончании конференции
						li Экскурсия в Дубай
						li И конечно же забег миллионеров
				.vak-xs-12.vak-sm-4.for-who-wrap
					.for-who-inner.icon-hover.icon-text-big.text-center
						.icon-inner
							.icon-image
								.icon-image-inner: img(src="img/girl.png")
							p.icon-title Для вторых половинок
					ul.list.list-check-yellow
						li 3 эксклюзивных семинара от приглашенных экспертов по лидерству и отношениям
						li Спортзал, утренние пробежки и SPA
						li Окружение и отдых в компании успешных женщин
						li Игра в мафию
						li Бесплатный трансфер до торгового центра Al Hamra Mall
						li 5 бассейнов и 450 метров пляжа с белоснежным песком
				.vak-xs-12.vak-sm-4.for-who-wrap
					.for-who-inner.icon-hover.icon-text-big.text-center
						.icon-inner
							.icon-image
								.icon-image-inner: img(src="img/kids-couple.png")
							p.icon-title Для детей
					ul.list.list-check-yellow
						li За Вашими детьми закреплено 2 наших сотрудника, которые занимаются только ими и не дадут заскучать
						li Детский клуб со специальными зонами аркад для детей старшего возраста
						li Аква зона “Пиратская лодка” с большим количеством водных горок для всей семьи
						li Открытая детская площадка
						li 2 детских бассейна
						li Творческий кружок
						li Специальный квест для участников
						li Спортзал, волейбол и водное поло
			.vbtn-single.text-center
				+button("vbtn vbtn-main", "#modalform") Совместить обучение, отдых и время с семьей
	section.vsection
		.vcontainer
			.recepy-wrap.recepy-spiker
				.vrow
					.vak-xs-12.vak-lg-8
						h3.vtitle.recepy-title Ключевой спикер конференции <br>- <span class="color-main">Александр Высоцкий</span>
					.vak-xs-12.vak-md-8.vak-lg-7
						p.recepy-spiker-title Все, кто успеет забронировать место на конференцию - большие везунчики по нескольким причинам:
						ul.list.list-check-yellow
							li Александр Высоцкий большую часть года проводит в США и это чуть ли не единственное его живое выступление за год
							li Вы получаете Александра в свое распоряжение практически 24/7 для неформального и бизнес-общения
							li Темы семинаров конференции - на порядок глубже тех, что были на ШВБ
							li Это эксклюзивный контент, с упором на стратегическую составляющую и ключевые компетенции собственника бизнеса
						.recepy-warning-wrap
							p.recepy-warning Кроме этого, за 1,5 месяца до старта, Александр лично обновляет программу конференции, опираясь на новейшие данные этой области
	section.vsection
		.vcontainer
			h3.vtitle.country-buildings-title Какие темы будут рассмотрены на конференции:
			ul.list.list-check-yellow
				li Точная последовательность в разработке блестящей стратегии расширения
				li Распространенные стратегические кейсы для СНГ и успешные решения
				li Как вырастить успешного директора и создать команду топ-менеджеров
				li Как разработать и описать технологию производства
				li Разработка и внедрение технологии продвижения и продаж
				li Как связаны стратегия, тактическое планирование и бюджет компании
				li Управление реализацией стратегии
			.country-buildings
				img(src="img/country-buildings.png")
	section.vsection#programm
		.vcontainer.programm
			h3.vtitle.programm-title Тезисная программа конференции:
			.vrow.programm-row
				.vak-xs-12.vak-md-6.programm-list
					.programm-header
						p.programm-number 29
						p.programm-date Апреля <br> Суббота
					.programm-body
						ul
							li Трансфер с Дубай для Киева
								p 13: 30 - 14:30
							li Трансфер с Дубай для Москвы
								p 15: 30 - 16:30
							li Поселение участников
								p 14: 30 - 17:00
							li Ужин
								p 18:30 - 19:30
							li Торжественное открытие
								p 19:30 - 22:00
							li Свободное время
								p 22:00
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время начала
					.programm-body
						ul
							li 13:30
							li 14:30
							li 15:30
							li 18:30
							li 19:30
							li 22:00
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время завершения
					.programm-body
						ul
							li 14:30
							li 16:30
							li 17:00
							li 19:30
							li 22:00
			.vrow.programm-row
				.vak-xs-12.vak-md-6.programm-list
					.programm-header
						p.programm-number 30
						p.programm-date Апреля <br> Воскресенье
					.programm-body
						ul
							li Море, тренажерный зал 
								p 7:00 - 8:00
							li Завтрак 
								p 8:00  - 10:00
							li Семинар 
								p 10:00 - 11:30
							li Кофе-брейк 
								p 11:30 - 12:00
							li Семинар 
								p 12:00 - 13:30
							li Обед
								p 13:30 - 14:30
							li Семинар
								p 14:30 - 16:00
							li Кофе-брейк 
								p 16:00 - 16:30
							li Семинар для сопровождающих 
								p 16:30 - 18:00
							li Семинар
								p 16:30 - 18:00
							li Свободное время 
								p 18:00 - 19:00
							li Ужин
								p 19:00 - 20:00
							li Свободное время. Настольные игры
								p 20:00 - 23:00	
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время начала
					.programm-body
						ul
							li 7:00
							li 8:00 
							li 10:00 
							li 11:30
							li 12:00 
							li 13:30
							li 14:30
							li 16:00
							li 16:30
							li 16:30
							li 18:00
							li 19:00
							li 20:00
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время завершения
					.programm-body
						ul
							li 8:00
							li 10:00
							li 11:30
							li 12:00
							li 13:30
							li 14:30
							li 16:00
							li 16:30
							li 18:00
							li 18:00
							li 19:00
							li 20:00
							li 23:00	
			.vrow.programm-row
				.vak-xs-12.vak-md-6.programm-list
					.programm-header
						p.programm-number 1
						p.programm-date Мая <br> Понедельник
					.programm-body
						ul
							li Море, тренажерный зал
								p 7:00 - 8:00
							li Завтрак
								p 8:00 - 10:00
							li Квест 
								p 10:00 - 12:30
							li Обед
								p 12:30 - 13:30
							li Семинар
								p 13:30 - 15:00
							li Кофе-брейк
								p 15:00 - 15:30
							li Семинар
								p 15:30 - 17:00
							li Кофе-брейк
								p 17:00 - 17:30
							li Семинар
								p 17:30 - 19:00
							li Ужин
								p 19:00 - 20:00
							li Семинар для сопровождающих
								p 20:00 - 21:30
							li Круглые столы
								p 20:00 - 21:30
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время начала
					.programm-body
						ul
							li 7:00
							li 8:00
							li 10:00
							li 12:30
							li 13:30
							li 15:00
							li 15:30
							li 17:00
							li 17:30
							li 19:00
							li 20:00
							li 20:00
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время завершения
					.programm-body
						ul
							li 8:00
							li 10:00
							li 12:30
							li 13:30
							li 15:00
							li 15:30
							li 17:00
							li 17:30
							li 19:00
							li 20:00
							li 21:30
							li 21:30
			.vrow.programm-row
				.vak-xs-12.vak-md-6.programm-list
					.programm-header
						p.programm-number 2
						p.programm-date Мая <br> Вторник
					.programm-body
						ul
							li Море, тренажерный зал 
								p 7:00 - 8:00
							li Завтрак
								p 8:00 - 10:00
							li Семинар
								p 9:30 - 11:00
							li Кофе-брейк 
								p 11:00 - 11:30
							li Семинар
								p 11:30 - 13:00
							li Обед
								p 13:00 - 14:00
							li Экскурсия
								p 14:00 - 20:00
							li Ужин 
								p 20:00 - 21:30
							li Свободное время. Настольные игры
								p 21:30 - 23:00
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время начала
					.programm-body
						ul
							li 7:00
							li 8:00
							li 9:30
							li 11:00
							li 11:30
							li 13:00
							li 14:00
							li 20:00
							li 21:30
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время завершения
					.programm-body
						ul
							li 8:00
							li 10:00
							li 11:00
							li 11:30
							li 13:00
							li 14:00
							li 20:00
							li 21:30
							li 23:00
			.vrow.programm-row
				.vak-xs-12.vak-md-6.programm-list
					.programm-header
						p.programm-number 4
						p.programm-date Мая <br> Четверг
					.programm-body
						ul
							li Море, тренажерный зал
								p 7:00 - 8:00
							li Завтрак
								p 8:00 - 10:00
							li Семинар
								p 10:00 - 11:30
							li Общая фотография
								p 11:30 - 11:45
							li Кофе-брейк
								p 11:45 - 12:15
							li Семинар 
								p 12:15 - 13:45
							li Закрытие конференции 
								p 13:45 - 14:00
							li Обед
								p 14:00 - 15:00
							li Подготовка к гала-концерту
								p 15:00 - 19:00
							li Фотографирование перед гала-концертом
								p 19:00 - 19:30
							li Гала-ужин
								p 19:30 - 23:30
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время начала
					.programm-body
						ul
							li 7:00
							li 8:00
							li 10:00
							li 11:30
							li 11:45
							li 12:15
							li 13:45
							li 14:00
							li 15:00
							li 19:00 
							li 19:30 
				.vak-xs-12.vak-md-3.programm-time
					.programm-header
						p.programm-time-title Время завершения
					.programm-body
						ul
							li 8:00
							li 10:00
							li 11:30
							li 11:45
							li 12:15
							li 13:45
							li 14:00
							li 15:00
							li 19:00
							li 19:30
							li 23:30
			.vrow.programm-row
				.vak-xs-12.vak-md-6.programm-list
					.programm-header
						p.programm-number 5
						p.programm-date Мая <br> Пятница
					.programm-body
						ul
							li Выселение из номера
							li Самолет обратно
							li
								p до 12:00
				.vak-xs-12.vak-md-6.programm-time
					.programm-header
					.programm-body
						ul
							li до 12:00		
	section.vsection
		.vcontainer
			h3.vtitle Дополнительные возможности <br>для обучения и отдыха:
			.extra
				+extra('img/table.png', 'Круглые столы') Это специальный формат общения, обучения и генерации новых идей, во время которого участники обмениваются опытом и помогают друг другу решать проблемы и устранять “узкие места” в их бизнесе
				+extra('img/gala.png', 'Гала-ужин') Официальная часть конференции заканчивается гала-ужином. Все участники в вечерних платьях и костюмах собираются на торжественное завершение конференции, где Александр Высоцкий произносит торжественную речь и награждает участников почетными сертификатами
				+extra('img/games.png', 'Волейбол, пробежки и водное-поло') Для всех участников будут организованы турниры по волейболу и водному поло, утренние пробежки, совместные занятия в спортзале. За это время вы не только поддержите свое тело в тонусе, а и сможете изрядно подкачаться!
				+extra('img/dubai.png', 'Экскурсия в Дубай') В течении этой обширной экскурсии вы посетите: отель Burj Al Arab («Парус»), известные на весь мир искусственные пальмовые острова The Palm Jumeirah Dubai Marina, самый большой в мире торговый центр Dubai Mall, самый высокий в мире фонтан Dubai Fountain и Burj Khalifa – самое высокое здание в мире.
				+extra('img/keys.png', 'Разбор своих кейсов с консультантами') На конференции присутствуют лучшие консультанты Visotsky Consulting. С каждым из консультантов вы можете договориться и в личной беседе разобрать ваш уникальный случай.
			.vbtn-single.text-center
				+button("vbtn vbtn-main", "#modalform") Получить полный список способов времяпровождения на конференции*
				p.vbtn-single-description * Вам на почту придут дополнительные материалы, которые включают полный список <br>экскурсий, подробное описание отеля и номеров, а также другие детали конференции
	section.vsection
		.vcontainer
			h3.vtitle Как это было в прошлом году
			.sliderBig
				div: img(src="img/slider1.jpg")
				div: img(src="img/slider1.jpg")
				div: img(src="img/slider1.jpg")
	section.vsection
		.vcontainer
			h3.vtitle А вот что говорят те, <br class="vhidden-xs">кто ездит на конференцию каждый год
			.vrow.video-row
				.vak-xs-12.vak-md-6.video-wrap
					.video
						.video-image: img(src="img/team.jpg")
						button.video-button(data-func="vmodal" data-target="#modalvideo" data-video="https://www.youtube.com/embed/Iutk7AboLZI" data-source="uppod") Video
				.vak-xs-12.vak-md-6.video-wrap
					.video
						.video-image: img(src="img/team.jpg")
						button.video-button(data-func="vmodal" data-target="#modalvideo" data-video="https://www.youtube.com/embed/Iutk7AboLZI" data-source="uppod") Video
				.vak-xs-12.vak-md-6.video-wrap
					.video
						.video-image: img(src="img/team.jpg")
						button.video-button(data-func="vmodal" data-target="#modalvideo" data-video="https://www.youtube.com/embed/Iutk7AboLZI" data-source="uppod") Video
	section.vsection.why-section
		h3.vtitle Почему эта конференция даст взрывной толчок <br class="vhidden-xs">Вашему бизнесу и подарит лучший отдых в этом году:
		.vcontainer
			.vrow.text-center
				+iconDefault('img/team.png') Потрясающий командный <br>дух и встреча своих <br class="vhidden-xs">бизнес-одноклассников
				+iconDefault('img/why2.png') Эксклюзивные семинары от Александра Высоцкого 
				+iconDefault('img/why3.png') Неформальное общение и консультации лучших сотрудников Visotsky Consulting
				+iconDefault('img/why4.png') Специальные мероприятия <br class="vhidden-xs">и активности для Вашей<br class="vhidden-xs"> жены и детей
				+iconDefault('img/why5.png') “Перезарядка” мозгов и накопление энергии для взятия новых бизнес-вершин
				+iconDefault('img/why6.png') Возможность на время выйти из бизнеса, чтобы посмотреть на него со стороны
	section.vsection#price
		.vcontainer
			.recepy-wrap.recepy-value.gradient-fluid
				h3.vtitle.recepy-title <span class="color-main">Ценность конференции</span>. <br class="vvisible-xs">По полочкам
				p.vtitle-small-big.recepy-title-small Давайте подытожим, какую ценность имеет конференция:
				.vrow
					.vak-xs-12
						ul.list.list-check.list-check-yellow
							li Проживание в отеле DoubleTree by Hilton Resort &amp; Spa Marjan Island 5* (отдельная стоимость - ХХХ$)
							li 3-разовое питание для Вас и семьи (ХХХ$)
							li 3 полных дня эксклюзивных семинаров от Александра Высоцкого (ХХХ$)
							li Неформальное общение и возможность проконсультироваться с Александром Высоцким и другими тренерами Visotsky Consulting (обычно эта возможность доступна только VIP-клиентам - ХХХХ$)
							li Круглые столы, которые длятся 2 дня с возможностью решить свою главную бизнес-проблему (ХХХ$)
							li Грандиозный гала-ужин по завершении официальной части конференции (ХХХ$)
							li Организация спортивных активностей для участников конференции: турниры по волейболу и водному поло (ХХХ$)
							li Экскурсии, обзорные туры городов, сафари и другие развлечения (ХХХ$)
							li Гостевые семинары для Ваших жён от приглашенных экспертов (ХХХ$)
			.recepy-wrap.recepy-price
				.recepy-price-really: img(src="img/tag.png")
				.vrow
					.vak-xs-12.vak-sm-9
						h3.vtitle.recepy-title Как видите, реальная стоимость конференции составляет <span class="color-main">3999$</span>
						p.recepy-price-title-small.recepy-title-small Но, поскольку это мероприятие только для “своих” - для тех, <br class="vvisible-md vvisible-lg">кто проходил Школу Владельцев Бизнеса, кто любит <br> и доверяет нам (и это взаимно)... мы НЕ возьмем с Вас такую сумму.
						+button("vbtn vbtn-main", "#modalform") Узнать больше деталей и забронировать место на конференцию
	section.vsection.who-section.text-center
		.vcontainer
			h3.vtitle.who-title-big Кто уже точно едет с нами*
			p.vtitle-small * Информация обновляется в реальном времени
			.form-search-wrap.who-form
				.form-search
					input(type="text" placeholder="Введите имя или фамилию однокурсника" class="form-search-input who-input")
					button(type="button" class="form-search-button who-btn")
			.vrow.who-row
				+who('http://vc-conf.com/wp-content/uploads/2017/02/unnamed.jpg', 'Баринов Алексей', 'ШВБ-51 Санкт-Петербург', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Kostenko-Igor.jpg', 'Костенко Игорь', 'ШВБ-76 Москва', false)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Bekirov-Dzhemil.jpg', 'Бекиров Джемиль', 'участник Симферополь', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Potemkina-Elena.jpg', 'Потемкина Елена', 'участник Киев', false)
				//- 4

				+who('http://vc-conf.com/wp-content/uploads/2017/01/Ordovskij_Tanaevskij-Vladimir.jpg', 'Ордовский-Танаевский Владимир', 'ШВБ-86 Москва', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Suhareva-Evgeniya.jpg', 'Сухарева Евгения', 'WISE СНГ Москва', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Litvintsova-Ekaterina.jpg', 'Литвинцова Екатерина', 'СДО «Эйнштейн»', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Rasevich-Dergunova-Natalya.jpg', 'Расевич-Дергунова Наталья', 'Академия Консалтинга', true)
				//-4

				+who('http://vc-conf.com/wp-content/uploads/2017/01/Hrenov-Ilya.jpg', 'Хренов Илья', 'ШВБ-83 Санкт-Петербург', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Grigoreva-Olga.jpg', 'Григорьева Ольга', 'ШВБ-59 Санкт-Петербург', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Salova-Svetlana.jpg', 'Салова Светлана', 'участник', false)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Petrov-Roman.jpg', 'Петров Роман', 'ШВБ44 Киев', true)
				//-4

				+who('http://vc-conf.com/wp-content/uploads/2017/01/CHurilova-Ekaterina.jpg', 'Чурилова Екатерина', '', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Gordienko-Denis.jpg', 'Гордиенко Денис', '​ШВБ-83 Санкт-Петербург', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/Argunova-Alla.jpg', 'Аргунова Алла', 'ШВБ-53 Москва', true)
				+who('http://vc-conf.com/wp-content/uploads/2017/01/argunov.png', 'Аргунов Виктор', 'ШВБ-53 Москва', true)
				//-4

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4 

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4											

				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				+who('', '', '', true)
				//-4
	section.vsection.place-section#where
		.vcontainer
			.negative
				.place-wrap
					h3.vtitle.place-title Место проведения
					p.vtitle-small-big.place-title-small <span class="color-main">Локация:</span> ОАЭ, Рас-эль-Хайма, отель DoubleTree <br>by Hilton Resort &amp; Spa Marjan Island 5*
					ul.list.list-check-yellow
						li Это новый отель (ему всего 2 года)
						li Пляж с белоснежным песком привезенным с Аммана. Протяженность - 450 метров
						li На территории 5 бассейнов, 2 детских бассейна
						li Высочайший уровень сервиса
						li Вкусная и разнообразная кухня
						li Комфортная зона для детей (мини аквапарк и мини клуб)
					.vrow.place-row-second
						.vak-xs-12.vak-md-6
							.place-slider
								div: img(src="img/place1.png")
								div: img(src="img/place1.png")
						.vak-xs-12.vak-md-6
							p.vtitle-small-big.place-title-small <span class="color-main">Номера:</span> Guest Room with Sea View
							ul.list.list-check-yellow
								li Высокие потолки
								li Великолепный вид из окна
								li Просторный балкон
								li Номера оснащены Wi-Fi
								li Просторная ванная комната с отдельно стоящим душем
								li Спальные места для 2 взрослых и 2 детей
	section.vsection.text-center.result-section.gradient-fluid.color-white.xray-wrap
		.xray
			.xray-slide
		.xray-block
			.vcontainer
				p.result-title “Способность качественно отдыхать и окружать себя нужными<br class="vvisible-lg"> людьми – это всё, чтобы преуспеть в бизнесе или практически в<br class="vvisible-lg"> любой другой области”
				p.result-text Ли Якокка, легендарный американский менеджер, <br class="vhidden-xs">экс-президент компании Ford и председатель правления Chrysler
				+button("vbtn vbtn-main result-button", "#modalform") Забронировать место на конференцию
block dev
	.vcontainer

	// +button("vbtn vbtn-effect-shutter-vertical-out vbtn-main", "#modalvideo")(data-video="https://www.youtube.com/embed/Iutk7AboLZI" data-source="youtube" data-title="Уроки JavaScript Практика #3 Пишем свой CSS генератор") Button_text_big
	.vmodal#modalform
		.vmodal-dialog.big.vmodal-dialog-center
			button(type="button" class="vmodal-close" data-close="vmodal") &times;
			.vmodal-box
				p.vmodal-title Заполните форму, что бы забронировать место на мероприятие
				.vmodal-body
					form(action="" class="vmain-form")
						.vmain-form-row.vmain-form-input-wrap.vmain-form-icon.name
							input(type="text" placeholder="Имя" required)
						.vmain-form-row.vmain-form-input-wrap.vmain-form-icon.phone
							input(type="text" placeholder="Телефон" required)
						.vmain-form-row.vmain-form-btn-wrap
							button.vbtn.vbtn-main(type="submit") <span class="text-du">Забронировать</span> место на конференции
	.vmodal.vmodal-transparent#modalvideo
		.vmodal-dialog.big.vmodal-dialog-center
			button(type="button" class="vmodal-close" data-close="vmodal") &times;
			.vmodal-box
				p.vmodal-title
				.vmodal-body
					.vmodal-video#videoplayer