.timer{
	text-align: center;
	&-section{
		padding-bottom: 0;
	}
	&-absolute{
		position: absolute;
		top: -74px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	&-absolute &-title{
		color: #fff;
	}
	&-absolute &-inner{
		background-color: #fff;
		border-radius: 30px;
		padding: 10px 13px;
	}
	&-title{
		font-size: 24px;
		margin-bottom: 5px;
	}
	&-time{
		font-size: 36px;
		color: setColor(main);
		line-height: 1;
		@extend .digital_bold;
	}
	&-block{
		display: inline-block;
		vertical-align: middle;
		min-width: 80px;
		span{
			display: block;
		}
	}
	&-sign{
		font-size: 13px;
	}
	@include resp-max(sm){
		&-section{
			padding-top: 150px;
		}
		&-absolute{
			width: 300px;
			padding-left: 15px;
			padding-right: 15px;
		}
		&-block{
			margin-bottom: 5px;
		}
	}
	@include resp-min(md){
		&-section{
			padding-top: 97px;
		}
	}
}
.icon{
	&-image{
		img{
			@extend .transition;
		}
		&-inner{
			display: inline-block;
			height: 130px;
			@extend .vertical-image;
		}
	}
	&-header{
		margin-bottom: 15px;
	}
	&-title{
		font-size: 24px;
		@extend .regular;
	}
	&-text-big &-title{
		color: setColor(mainSecond);
	}
	&-wrap-margin{
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-hover:hover &-image img{
		transform: scale(1.2);
	}
	@include resp-max(sm){
		&-text-big{
			text-align: center;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	@include resp-min(sm){
		
		&-left &-image,
		&-left &-title{
			display: inline-block;
			vertical-align: middle;
		}
		&-left &-title{
			margin-left: 15px;
		}
		&-text-big &-title{
			font-size: 23px;			
		}
		&-wrap-margin{
			margin-bottom: 50px;
		}
	}
	@include resp-min(md){
		&-text-big &-title{
			font-size: 30px;
		}
		&-text-big &-body{
			padding-right: 55px;
			font-size: 20px;
			line-height: 1.2;
		}
	}

}
.recepy{
	&-holidays{
		color: #fff;
		border-radius: 6px;
		@include bg('../img/recepy.jpg');
		&-total{
			margin-top: 15px;
			padding-left: 30px;
			font-size: 21px;
			@extend .bold;
		}
	}
	&-conf{
		@include bg('../img/conf.jpg');
		@at-root {
			%confColor{
				color: setColor(main);
			}
		}
		.vtitle{
			margin-bottom: 10px;
			@extend %confColor;
		}
		.vbtn-single{
			margin-top: 30px;
		}
		&-title{
			font-size: 30px;
			@extend %confColor;
		}
		&-text{
			color: setColor(white);
		}
		&-image{
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	&-spiker{
		color: #fff;
		@include bg('../img/spiker.jpg', 50% 0);
		&-title{
			margin-bottom: 35px;
		}
	}
	&-title{
		text-align: left;
		margin-bottom: 35px;
		color: #fff;
		&-small{
			margin-bottom: 35px;
		}
	}
	&-wrap{
		padding: 45px 15px;
		margin-bottom: 45px;
	}
	&-recom{
		border: 4px solid setColor(mainSecond);
	}
	&-warning{
		display: inline-block;
		padding: 15px;
		border: 4px solid #fac900;
		border-radius: 6px;
		margin-top: 30px;
	}
	@include resp-max(sm){
		&-wrap{
			margin-left: -15px;
			margin-right: -15px;
		}
		&-conf{
			padding-bottom: 150px;
			&-image{
				right: 0;
				left: auto;
				width: 75px;
				transform: scale(-1,1);
			}
		}
	}
	@include resp-min(sm){
		&-wrap{
			padding: 60px 30px;
		}
		&-holidays{
			margin-bottom: 50px;
		}
		&-recom{
			margin-bottom: 70px;
		}
		&-spiker{
			&-title{
				font-size: 24px;
				line-height: 1.2;
				
			}
		}
		&-warning{
			padding: 10px 30px;
			font-size: 24px;
		}
		@include resp-max(md){
			&-conf-image{
				width: 140px;
			}
			&-conf-text-wrap{
				padding-left: 130px;
			}
		}

	}
	@include resp-min(md){
		&-conf{
			&-text-wrap{
				padding-left: 205px;
				position: relative;
				top: 25px;
			}
			&-title{
				font-size: 48px;
			}
			&-text{
				font-size: 30px;
			}
		}
	}
	@include resp-min(lg){
		&-wrap{
			padding: 70px 30px;
		}
		&-recom{
			padding-left: 70px;
			padding-right: 70px;
		}
		
	}
}
.for-who{
	&-inner{
		margin-bottom: 15px;
	}
	@include resp-max(sm){
		&-wrap{
			margin-bottom: 45px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	@include resp-min(sm){
		@include resp-max(lg){
			&-inner .icon-title{
				min-height: 90px;
			}
		}
	}
	@include resp-min(md){
		&-inner{
			margin-bottom: 45px;
		}
	}
}
.country-buildings {
	position: absolute;
	right: 15px;
	bottom: -103px;
	font-size: 0;
	z-index: -1;
	@include resp-min(sm){
		&-title{
			font-size: 36px;
		}
	}
}
.programm{
	color: setColor(white);
  background-image: linear-gradient( 55deg, rgb(18,21,54) 49%, rgb(10,181,196) 100%);
  &-title{
  	color: inherit;
  }
  &-header{
  	height: 100px;
  	&:after{
  		content: "";
  		display: inline-block;
  		height: 100%;
  		vertical-align: middle;
  	}
  }

  &-number,
  &-date,
  &-time-title{
  	display: inline-block;
  	vertical-align: middle;
  }
  &-number{
  	min-width: 80px;
  	color: setColor(main);
  	font-size: 60px;
  	margin-right: 15px;
  }
  &-date{
  	font-size: 24px;
  	line-height: 1.1;
  }
  &-body{
  	min-height: calc(100% - 100px);
  	border: 2px solid #201358;
  	border-radius: 6px;
		padding: 30px 15px;
		li{
			margin-bottom: 7.5px;
			&:last-child{
				margin-bottom: 0;
			}
		}
  }
  &-time{
  	text-align: center;
  }
  &-flex{
  	min-height: calc(100% - 100px);
  }
  @include resp-min(sm){
  	padding: 60px;
  	&-body{
  		padding: 25px 30px;
  	}
  	&-list &-header{
  		padding-left: 60px;
  	}
  	// &-row{
  	// 	padding-left: 40px;
  	// 	padding-right: 40px;
  	// }
  }
}