.vtitle{
	margin-bottom: 40px;
	line-height: 1.15;
	font-size: 30px;
	color: setColor(mainSecond);
	@include fs('vtitle');
	@extend .text-center;
	//@extend .light;
	&-small{
		margin: 12px 0;
		font-size: 18px;
		line-height: 1.1;
		@include fs('vtitle-small');
		&-big{
			font-size: 18px;
			@include fs('vtitle-small-big');
		}
	}
	&-big{
		line-height: 1.1;
		font-size: 30px;
		margin: 12px 0;
		@include fs('vtitle-big');
		@extend .bold;
	}
	@include resp-max(sm){
		&-big{
			margin: 20px 0;
		}
	}
	@include resp-min(sm){
		// &-big{
		// 	margin-bottom: 60px;
		// }
	}
	@include resp-min(md){
		margin-bottom: 60px;
	}
}
.text{
	&-tu{
		text-transform: uppercase;
	}
	&-du{
		text-decoration: underline;
	}
	&-dn{
		text-decoration: none;
	}
	&-center{
	 text-align: center;
	}
	&-left{
	 text-align: left;
	}
	&-right{
	 text-align: right;
	}
}
@each $br-name, $br-value in $breakpoints{
  // @include resp-max($br-name){
  //   .max-#{$br-name}-center{
  //     text-align: center;
  //   }
  // }
  @include resp-min($br-name){
    .min-#{$br-name}-right{
      text-align: right;
    }
  }
}