include ./mixins
.vrow.flex-v-center
	.vak-xs-8.vak-md-2
		.vnav-logo
			button(type="button" class="vnav-btn" data-menu=".vnav-wrap-fixed .vnav")
				span.lines
					span
					span
					span
				//span.text Menu
			.block-inline.vnav-logo-inner
				img(src="img/logoBlack.png" alt="")
	nav.vnav.vak-xs-12.vak-md-7.vak-lg-8.min-md-right
		ul
			+item("#programm", "active") Программа
			+item("#where") Где проходит
			+item("#price") Стоимость
	.vak-xs-4.vak-md-3.vak-lg-2.min-md-right
		.vnav-text-toggle.text-right
			span
			span
			span
		.vnav-text
			a(href="tel: 0-800-21-66-51").vnav-text-inner 0-800-21-66-51